<section class="header">
  <div class="container header-box">
    <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
    <div class="input-box">
      <label class="search-field">
        <input class="header-search header-search-keyword" placeholder="Start searching" type="text">
        <svg class="search-icon">
          <use href="./images/symbol-defs.svg#icon-search-icon"></use>
        </svg>
      </label>
      <label class="select-field">
        <input class="header-search header-country-search" placeholder="Choose country" type="text">
        <svg class="select-icon" aria-hidden="true">
          <use href="./images/symbol-defs.svg#icon-Polygon-1"></use>
        </svg>
      </label>
    </div>
  </div>

</section>