.main {
  padding: 50px 0 60px 0;

  @media screen and (min-width: 768px) {
    padding: 55px 0 60px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 55px 0 80px 0;
  }
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 39px;
  justify-content: center;
  @media screen and (min-width: 768px) {
    column-gap: 27px;
    row-gap: 58px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 70px;
    row-gap: 63px;
  }
}
.event-item {
  width: 128px;

  @media screen and (min-width: 768px) {
    height: 180;
  }
  
}

.event-box{
  position: relative;
width: 128px;

    @media screen and (min-width: 768px) {
    width: 180px;
  }

  &::after{
    content: "";
    width: 153px;
    height: 143px;
    position: absolute;
    right: -14px;
    top: -13px;
    display: block;
    border-radius: 50px 0;
    border: 1px solid green;
  }
}



.event-img-box{
  border-radius: 50px 0 50px 0;
   width: 100%;
  height: 161px;
  overflow: hidden;

    @media screen and (min-width: 768px) {
    width: 180px;
    height: 227px;
  }
  @media screen and (min-width: 1200px) {
    width: 180px;
    height: 227px;
  }

}

.event-img {
  object-fit: cover;
  height: 100%;

}

.event-name {
  margin-top: 5px;
  color: rgba(220, 86, 197, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.event-time {
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.event-location {
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 17px;
  }
}
